.task02,.task03{
    padding: 10px;
    margin: 5px;
}
.task02 img{
    width: 100px;
    height: 200px;
    border:1px solid blue;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #242f3f; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    color: white;
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  /*Chapter 52-57*/
  .format {

    width: 250px;
    height: 230px;

}

#images{
    display: flex;
}

/* Modal starts */
/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 500;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */

.modal-open {
    animation-name: zoomIn;
    animation-duration: 0.6s;
}

@keyframes zoomIn {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.modal-close {
    animation-name: zoomOut;
    animation-duration: 0.6s;
}

@keyframes zoomOut {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}



/* The Close Button */

.close {
    position: absolute;
    top: 50px;
    right: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: normal;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

